<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <img src="assets/SupercondActorClusterLogo.svg" class="logo"/>
    Welcome to SupercondActor Business Platform!
  </h1>
</div>
<h2>Below is a response from the backend API</h2>
<p>You'll need these parameters if you want to set up Azure Active Directory authentication in your web application:</p>
<ul>
  <li>Tenant ID: {{authInfo?.tenantID}}</li>
  <li>Client ID: {{authInfo?.clientID}}</li>
</ul>
<h3>Here are some links to help you start with SupercondActor Business Platform:</h3>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://www.supercondactor.com/documentation">Documentation</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://github.com/SupercondActor">GitHub repositories</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://www.supercondactor.com">Business Platform blog</a>
  </li>
</ul>

<router-outlet></router-outlet>